<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Add a new user</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body{
                background-color: yellow;
            }

            .title{
                text-align: center;
            }

            .formik{
                display: flex;
                justify-content: center;
            }

        </style>
    </head>


    <body>
        <div class="formik">
            <form action="#" th:action="@{./adduser}" th:object="${user}" method="post">
                <label for="name">Name</label>
                <input type="text" th:field="*{name}" id="name" placeholder="Введіть ваше ім'я">
                <label for="age">Age</label>
                <input type="text" th:field="*{age}" id="age" placeholder="Введіть ваш вік">
                <input type="submit" value="Відправити">
            </form>
        </div>
    </body>
</html>
