<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body{
                background-color: yellow;
            }

            .title{
                text-align: center;
            }

            .table{
                display: flex;
                justify-content: center;
            }
        </style>
    </head>
    <body>
        <div>Мій додаток</div>
        
        <form action="/dp2021Yaroshchuk/Lab7cons/getMessage" method="get">
            <button type="submit">Отримати користувачів</button>
        </form>
        
        
    </body>
</html>
